<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zlw.cloud.clearProject.mapper.ClearProjectMapper">
  <resultMap id="BaseResultMap" type="net.zlw.cloud.clearProject.model.ClearProject">
    <!--@mbg.generated generated on Mon Sep 28 16:11:26 CST 2020.-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_num" jdbcType="VARCHAR" property="projectNum" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="tenderer" jdbcType="VARCHAR" property="tenderer" />
    <result column="procuratorial_agency" jdbcType="VARCHAR" property="procuratorialAgency" />
    <result column="bidder" jdbcType="VARCHAR" property="bidder" />
    <result column="bid_price" jdbcType="DECIMAL" property="bidPrice" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="founder_id" jdbcType="VARCHAR" property="founderId" />
    <result column="founder_company_id" jdbcType="VARCHAR" property="founderCompanyId" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Sep 28 16:11:26 CST 2020.-->
    id, project_num, project_name, tenderer, procuratorial_agency, bidder, bid_price, 
    create_time, update_time, founder_id, founder_company_id, del_flag
  </sql>
</mapper>